body {
    display: flex;
    padding: 10px 30px 20px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #18071B; 
    text-align: center;
}
header {
    display: inline-block;
    min-width: 1326px;
    min-height: 180px;
    max-width: 1326px;
    max-height: 592px;
}
.HEADER-TOP {
    min-width: 940px;
    min-height: 84px;
    max-width: 940px;
    max-height: 84px;
    margin-left: 241px;
    margin-top: 52px;
    margin-left: 121px;
    margin-top: 52px;
    background: url(logo.png) no-repeat;
}
.HEADER-MENU {
    display: inline-block;
    min-width: 569px;
    min-height: 19px;
    max-width: auto;
    max-height: 30px;
    margin-left: 187px;
    margin-top: 32px;
    position: relative;
    bottom: 35px;
}
ul {
    list-style: none;
}

li {
    float: left;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding-top: 18px;
    padding-left: 32px; 
}
a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.HEADER-MENU > ul > li > a:hover {
    color: #FFDA53;
    transition: 1s ease;
}
.teleg {
    position: relative;
    left: 140px;
}
.teleg2 {
    position: relative;
    left: 150px;
}

.HRADER-BOTTOM {
    color:white;
    text-align: left;
    margin-left: 140px;
    margin-top: 150px;
    font-family: 'Vollkorn', serif;
}
main {
    display: flex;
    flex-direction: column;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 64px;
}


.ira {
    max-width: 1260px;
    align-content: center;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 22px;
    row-gap: 25px;
}
.frame1 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.menu1 {
    align-items: center;
    margin-top: -370px;
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; 
}
.main2 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    
}
.STUDIO {
    max-width: 1260px;
    align-content: center;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}
.menu2 {
    align-items: center;
    margin-top: -390px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
} 
.buttom2 {
    padding-top: 10px;
}
.main3 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.CHILD {
    max-width: 1260px;
    align-content: center;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}
.frame2 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.menu3 {
    align-items: center;
    margin-top: -390px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
.main4 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.FASHION {
    max-width: 1260px;
    align-content: center;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}
.frame3 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.menu4 {
    align-items: center;
    margin-top: -390px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
.main5 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.portfolio {
    max-width: 1260px;
    align-content: center;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}
.frame4 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.menu5 {
    align-items: center;
    margin-top: -390px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
.main6 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.COSPLAY     {
    max-width: 1260px;
    align-content: center;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}
.frame5 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.menu6 {
    align-items: center;
    margin-top: -390px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
.main7 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.GROUP     {
    max-width: 1260px;
    align-content: center;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}
.frame6 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.menu7 {
    align-items: center;
    margin-top: -390px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
h2 {
    color: white;
    text-align: start;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 36px;
}
.yellow  {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFDA53; 
    padding-bottom: 10px;
}